<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547406592538-p9bc9clcpdb0g3afglkclti8i1ipnqm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547406592538-p9bc9clcpdb0g3afglkclti8i1ipnqm2</string>
	<key>API_KEY</key>
	<string>AIzaSyATpcxN1AhpTKKUhqmObKG_tBU-5L7T0JU</string>
	<key>GCM_SENDER_ID</key>
	<string>547406592538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>wechats-f1e1f</string>
	<key>STORAGE_BUCKET</key>
	<string>wechats-f1e1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547406592538:ios:06cfb604cf687a7f38efa3</string>
</dict>
</plist>